Temp/
UserSettings/
Library/
Logs/
obj/
Build/
Builds/
.vs/
.vsconfig
*.csproj
*.sln
/.utmp
*.zip
*.apk
RuntimeActionBindings.json
RuntimeActionBindings.json.meta
ProjectSettings\Packages\com.unity.testtools.codecoverage\Settings.json
PerformanceTestRun*.*
StreamingAssets*
buildInfo.txt
Packages/packages-lock.json
_Recovery/
Assets/_Recovery/
Assets/_Recovery.meta
passthroughcamera_BurstDebugInformation_DoNotShip/
